<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361396117618-1c2eku1tm10ia3utbl6dbkusvuon9vhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361396117618-1c2eku1tm10ia3utbl6dbkusvuon9vhs</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ95vtaQ4bpIADCUFCmo_LAGwVICAAYBc</string>
	<key>GCM_SENDER_ID</key>
	<string>361396117618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postman.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>postmanborrow</string>
	<key>STORAGE_BUCKET</key>
	<string>postmanborrow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361396117618:ios:e98b8c471d104fed3a22eb</string>
</dict>
</plist>